appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
entrypoints==0.3
fastapi==0.44.1
flake8==3.7.9
h11==0.8.1
httptools==0.0.13
idna==2.8
mccabe==0.6.1
more-itertools==8.0.2
packaging==19.2
pathspec==0.6.0
pluggy==0.13.1
py==1.8.0
pycodestyle==2.5.0
pydantic==1.2
pyflakes==2.1.1
pyparsing==2.4.5
pytest==5.3.1
regex==2019.11.1
requests==2.22.0
six==1.13.0
starlette==0.12.9
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.7
uvicorn==0.10.8
uvloop==0.14.0
wcwidth==0.1.7
websockets==8.1
zipp==0.6.0
